<div class="clock twoDayDigits flip-clock-wrapper" style="margin:2em;">
  <span class="flip-clock-divider hours">
    <span class="flip-clock-label">Hours</span>
    <span class="flip-clock-dot top"></span>
    <span class="flip-clock-dot bottom"></span>
  </span>
  <ul [ngClass]="{'play': hoursPlay1}" class="flip">
    <li class="flip-clock-before">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{hourssBefore1}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{hourssBefore1}}</div>
        </div>
      </a>
    </li>
    <li class="flip-clock-active">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{hoursActive1}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{hoursActive1}}</div>
        </div>
      </a>
    </li>
  </ul>
  <ul [ngClass]="{'play': hoursPlay2}" class="flip">
    <li class="flip-clock-before">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{hoursBefore2}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{hoursBefore2}}</div>
        </div>
      </a>
    </li>
    <li class="flip-clock-active">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{hoursActive2}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{hoursActive2}}</div>
        </div>
      </a>
    </li>
  </ul>
  <span class="flip-clock-divider minutes">
    <span class="flip-clock-label">Minutes</span>
    <span class="flip-clock-dot top"></span>
    <span class="flip-clock-dot bottom"></span>
  </span>
  <ul [ngClass]="{'play': minutesPlay1}" class="flip">
    <li class="flip-clock-before">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{minutesBefore1}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{minutesBefore1}}</div>
        </div>
      </a>
    </li>
    <li class="flip-clock-active">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{minutesActive1}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{minutesActive1}}</div>
        </div>
      </a>
    </li>
  </ul>
  <ul [ngClass]="{'play': minutesPlay2}" class="flip">
    <li class="flip-clock-before">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{minutesBefore2}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{minutesBefore2}}</div>
        </div>
      </a>
    </li>
    <li class="flip-clock-active">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{minutesActive2}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{minutesActive2}}</div>
        </div>
      </a>
    </li>
  </ul>
  <span class="flip-clock-divider seconds">
    <span class="flip-clock-label">Seconds</span>
    <span class="flip-clock-dot top"></span>
    <span class="flip-clock-dot bottom"></span>
  </span>
  <ul [ngClass]="{'play': secondsPlay1}" class="flip">
    <li class="flip-clock-before">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{secondsBefore1}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{secondsBefore1}}</div>
        </div></a></li>
    <li class="flip-clock-active">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{secondsActive1}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{secondsActive1}}</div>
        </div>
      </a>
    </li>
  </ul>
  <ul [ngClass]="{'play': secondsPlay2}" class="flip">
    <li class="flip-clock-before">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{secondsBefore2}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{secondsBefore2}}</div>
        </div>
      </a>
    </li>
    <li class="flip-clock-active">
      <a href="#">
        <div class="up">
          <div class="shadow"></div>
          <div class="inn">{{secondsActive2}}</div>
        </div>
        <div class="down">
          <div class="shadow"></div>
          <div class="inn">{{secondsActive2}}</div>
        </div>
      </a>
    </li>
  </ul>
</div>